<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>會員中心</title>
</head>
<body>
    <h2 style="color: green;">登入成功！</h2>
    <h3>歡迎，{{ user.name }}</h3>
    
    <table border="1" cellpadding="10">
        <tr>
            <th>會員編號</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>電話</th>
            <td>{{ user.phone if user.phone else '未提供' }}</td>
        </tr>
        <tr>
            <th>地址</th>
            <td>
                {{ user.region if user.region else '' }}
                {{ user.locality if user.locality else '' }}
                {{ user.address if user.address else '未提供' }}
            </td>
        </tr>
        <tr>
            <th>註冊時間</th>
            <td>{{ user.created_at }}</td>
        </tr>
    </table>
    <br>
    
    <a href="{{ url_for('auth.logout') }}">
        <button type="button">登出</button>
    </a>
</body>
</html>