<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>新增商品</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/staff/product_add.css')}}">
</head> 
 
<form id="product-form" method="POST" enctype="multipart/form-data" data-redirect-url="{{ url_for('staff.product.product_list') }}">
    <label>新增商品</label>
    <div class="product">
        <div class="product-detail"> 
            <label>商品名稱</label>
            <input type="text" name="name" required>
        </div>
        <div class="product-detail">
            <label>商品描述</label>
            <input type="text" name="description">
        </div>
        <div>
            <select name="category_id">
                {% for category in categories %}
                <option value="{{ category.id }}" {{ 'selected' if product and product.category_id == category.id }}>
                    {{ category.name }}
                </option>
                {% endfor %}
            </select>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
    
        <div id="image-management">
            <h3>產品圖片 (拖拽可排序)</h3>
            <input type="file" id="img-input" multiple accept="image/*">
            <div id="preview-container"></div>
        </div>

        <button type="submit">儲存產品</button>
    
    <script src=" {{url_for('static', filename='js/staff/product_add.js')}} " ></script>

    
</form>
